.description {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3.6em;
}

.container {
  display: flex;
  padding: 1em 0;
}

.jobs {
  position: relative;
  margin: 0 auto;
  padding: 0 0 40px;
  width: 95%;
}
