.sidebar {
  flex-basis: 15%;

  & :global(.form) {
    /*
    max-height: 26em;
    overflow-y: auto;
    overflow-x: hidden;
    */
  }
}

.salaryInput {
  & :global(.input) {
    min-width: 0 !important;
  }

  & :global(label) {
    margin-left: .5em !important;
  }
}
